@model VendorHomeViewModel

@section PageCSS {
    <link href="~/css/vendor.css" rel="stylesheet" type="text/css" />
}

<div class="vendor-home-wrapper pt-5">
    <div class="text-center">
        <img class="shadow-sm rounded" src="img/ABCEnergyLogo.PNG" width="150" />
    </div>
    <div class="align-items-center w-100">
        <a class="btn btn-link" href="@Url.Action("Index", "VendorHome")">Home</a>
        <a class="btn btn-link" href="@Url.Action("LogoutUser", "Authentication")">Logout</a>
        <a class="float-end text-decoration-none text-muted">@Model.User.Email</a>
        <a class="float-end text-decoration-none text-muted me-3">@Model.User.Firstname</a>
    </div>
    <div>
        <div class="quotes-list">
            @foreach (var quote in Model.Quotes)
            {
                <div class="quote-item mt-2 row shadow-sm">
                    <div class="col-3 text-center px-0">
                        <div class="w-100 h-100" style="background-image: url(@quote.VendorItem.ItemImageURL); background-size: cover; background-position: center"></div>
                    </div>
                    <div class="col-7 p-3">
                        <h5>@quote.VendorItem.ItemName</h5>
                        <div>
                            <div><b>Quantity requested:</b> @quote.QuantityRequested.ToString()</div>
                            <div><b>Quote date:</b> @quote.QuoteDate.ToString("dd-MM-yyyy")</div>
                        </div>
                    </div>
                    <div class="col-2 p-3 text-end">
                        <div class="btn-primary">Create Quote</div>
                        <div class="btn-danger mt-2">Close Quote</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>