@model BaseViewModel
@{
    ViewData["Title"] = "Vendor Menu";
}

<div class="text-center">
    <img class="my-5 shadow-lg rounded" src="~/img/ABCEnergyLogo.PNG" />
    <div class="d-flex flex-column flex-sm-row align-items-center">
        <!-- Breadcrumb, User name, Home button and Logout button -->
        <ol class="breadcrumb me-auto">
            <li class="breadcrumb-item" aria-current="page" data-voice>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn-link" })</li>
            <li class="breadcrumb-item active" aria-current="page">Vendor</li>
        </ol>
        <div class="me-3">@Model.user.Email</div>
        <div data-voice>
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn-link" })
        </div>
        <a class="btn btn-link" href="@Url.Action("LogoutUser", "Authentication")" data-voice="log out">Logout</a>
    </div>
    <div class="p-3 bg-white text-start">
        <div class="d-flex flex-column">
            <div class="col">
                <div class="menu-item cs-vendor" data-voice="Vendor Catalog">
                    <span class="material-icons-outlined">
                        next_week
                    </span>
                    Vendor Catalog
                </div>
            </div>
            <div class="col">
                <div class="menu-item cs-supplier" data-voice="Vendor List">
                    <span class="material-icons">
                        domain
                    </span>
                    Vendor List
                </div>
            </div>
            <div class="col">
                <div class="menu-item cs-accounts" data-voice="Vendor Quotes">
                    <span class="material-icons">
                        request_quote
                    </span>
                    Vendor Quotes
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        document.querySelector('.cs-vendor').addEventListener('click', function() {
            document.location.href = "@Url.Action("VendorCatalogue", "Home")";
        });
        document.querySelector('.cs-accounts').addEventListener('click', function() {
            document.location.href = "@Url.Action("VendorQuotes", "Home")";
        });
    </script>
}
